# Dependency folders
node_modules/
dist/

# Databases & Cache (Vital to ignore!)
*.db
*.db-journal
server/data/
data/

# Environment Secrets (Crucial for GitHub safety)
.env
.env.prod
server/.env
server/.env.prod

# Compiled Binaries & System files
*.exe
server/server.exe
server/fred-api-server.exe
.DS_Store
Thumbs.db

# Docker
.dockerignore

frontend/images/cards

CLAUDE.md

docker-compose.yml
